img {
    display: block; /* To remove extra space below images */
    margin-bottom: 20px;


main {
    padding: 20px;
}

#beans {
    margin-bottom: 50px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}