/* Main page layout */

.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 3px;
  padding-left: 10px;
  color: var(--cream);
  background-color: var(--brown);
  min-width: 88vw;
}
.container > div:first-child {
  position: sticky;
  top: 0;
  position: -webkit-sticky; /*for Safari*/
  background-color: var(--brown);
}
.container p {
  color: var(--cream);
}
.container > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid var(--burlywood);
  padding: 8px 0px;
}
.container > div > * {
  font-size: 1.1rem;
}

.container li {
  list-style-type: none;
}
.container h2 {
  text-align: left;
  font-size: 1.8rem;
  color: var(--burlywood);
}

.container span {
  cursor: pointer;
}

#form-btn {
  border: 4px outset var(--brown);
  border-radius: 12px;
  padding: 10px;
  font-family: Comfortaa;
  font-weight: 200;
  font-size: 1.3rem;
  background-color: var(--lgtbrown);
  color: var(--cream);
}

#form-btn:hover {
  border: 3px inset var(--lgtbrown);
}

/* Pop up module styling */

#overlay {
  z-index: 99;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  overflow: scroll;
}
.textbox {
  border: 3px;
  width: 70vw;
  background-color: var(--lgtbrown);
  border-color: black;
  border-radius: 6px;
  margin: 3vh auto;
  padding: 0.5rem;
}

/* form */
form {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 5px;
  border: none;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
}

form > *:not(:nth-child(-n + 2)) {
  margin-top: 1.3rem;
}

fieldset,
#method {
  border: none;
  color: var(--cream);
}
#grind_div > label {
  display: block;
  margin-top: 10px;
}

label {
  font-size: 1.5rem;
}

legend {
  margin: 0px;
  text-decoration: underline;
}
.units {
  border: none;
}
input,
textarea,
option,
select,
#method {
  border-radius: 8px;
  border-color: var(--lgtbrown);
  background-color: var(--burlywood);
  color: var(--brown);
  font-size: 1.3rem;
  padding: 3px;
}

textarea {
  width: 98%;
}

input[type="number"] {
  width: 7rem;
}
/* Checkbox styling */

input[type="checkbox"] {
  border: none;
  padding: 0px;
  appearance: none;
}

input[type="checkbox"] + label {
  margin-left: 0px;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  display: inline-block;
  content: "\00a0";
  background-color: var(--brown);
  border: 2px solid var(--lgtbrown);
  width: 17px;
  height: 17px;
  border-radius: 2px;
  text-align: center;
  line-height: 0.5rem;
  font-size: 2rem;
  margin-right: 3px;
}

input[type="checkbox"]:checked + label::before {
  content: "\2713";
  display: inline-block;
}
/* Form Buttons */

#exit-btn,
#add-btn {
  position: relative;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.5em;
  background-color: var(--brown);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  color: var(--cream);
  font-size: 1.3rem;
}

#add-btn {
  align-self: center;
}
#exit-btn {
  margin-right: 4px;
}

#exit-btn:hover,
#add-btn:hover {
  top: 2px;
  left: 1px;
  box-shadow: none;
}

@media only screen and (max-width: 700px) {
  /* .container > div {
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 8px;
  } */
  .textbox {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98vw;
    margin-top: 0px;
    border-radius: 0px;
  }
  form {
    padding-left: 5px;
    padding-right: 8px;
  }
}
