main h2 {
  color: var(--lgtbrown);
}

#upButton {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--cream);
  opacity: 0.5;
  font-size: 1.5rem;
}

#upButton:hover {
  box-shadow: 0px 0px 5px 5px white;
  background-color: var(--body);
  color: var(--cream);
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.container {
  width: 89vw;
  margin: auto;
}

.container h2 {
  margin-bottom: 10px;
}
.fav-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.stacked {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.card {
  aspect-ratio: 1/1;
  margin-bottom: 0.5rem;
}
.card_title,
.card_description {
  color: var(--brown);
  font-size: 1.2rem;
  font-family: var(--body);
}
.card_description {
  margin-top: 4px;
  text-align: justify;
}
.card_title {
  text-align: center;
  font-size: 1.3rem;
  font-style: oblique;
}

.card_image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.card_content {
  align-self: end;
  margin: 0.5rem 0.5rem 0.5rem;
  padding: 0 0.5rem;
  border-radius: 5px;
}
.card.blank {
  display: none;
}

@media (min-width: 600px) {
  .card {
    aspect-ratio: 1/1.1;
  }
  .card.featured {
    grid-column: span 2;
    aspect-ratio: 1/1;
  }
  .card.featured .card_title {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

@media (min-width: 881px) {
  .card.blank {
    display: inline;
  }
}
